@font-face {
    font-family: 'Monomakh Unicode TT';
    src: url('MonomakhUnicodeTT.eot');
    src: local('Monomakh Unicode TT Medium'), local('MonomakhUnicodeTT'),
        url('MonomakhUnicodeTT.eot?#iefix') format('embedded-opentype'),
        url('MonomakhUnicodeTT.woff') format('woff'),
        url('MonomakhUnicodeTT.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
.i{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 90vh; 
}

img{
    position: absolute;
    width: 500px;
    height: 500px;
    transform: rotate(0deg);
    animation: rotateAnimation 5s linear infinite;
}

@keyframes rotateAnimation {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body{
    background: url(scale_1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Monomakh Unicode TT';
    background-position: center;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}
  
  .mushroom {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('mashroom.png');
    cursor: pointer;
    background-size: cover;
    background-position: center;
  }
  
  #score {
    float: right;
    font-size: 45px;
    color: black;
    background-color: white;
  }


.old {
    display: none;
}

.button-container{
    margin: 50px 0;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 3%;
    z-index: 999; 
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #3499f2;
    margin: 2px 0;
}

.menu {
    list-style: none;
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 34px;
    background-color: #3499f2d4;
    padding: 10px;
    z-index: 20;
}

.menu li {
    font-size: 18px;
    margin: 10px 0;
}

.menu.active {
    display: flex;
  }

button{
    font-family: 'Monomakh Unicode TT', serif;
    background-color: #d63230;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0 0 0;
}

button:hover {
    background-color: #a61614;
}

button:active {
    background-color: #7c0f0e;
}

h1{
    margin: auto;
}



@media only screen and (max-width: 1000px) {
    .all-container {
      padding: 20px; 
    }
  
    button {
      width: 100%; 
    }
  
    .menu {
      width: 100%; 
      top: 60px; 
      left: 0;
    }

    img{
        position: absolute;
        width: 300px;
        height: 300px;
        transform: rotate(0deg);
        animation: rotateAnimation 5s linear infinite;
    }
    #score{
    float: right;
  font-size: 30px;
  color: black;
  background-color: white;
    }

    .bar{
        width: 30px;
        height: 4px;
    }

    .burger-menu{
        top: 4%;
    }

    .qwe{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    body {
        overflow: hidden;
    }
  }
